/*##### DEFAULTS #######*/
nav,
header,
footer{
    
}

body{
    line-height: 1;
    margin: 0;
}

label{
    font-size: 30px;
    font-weight: 600;
}

p{
    font-size: 20px;
    line-height: 1;
}

article p{
    font-size: 20px;
    padding: 20px;
}

.container{
    width:100%;
    margin:auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*wrap the elements when required*/
    align-items: center;
    /*helps in centering the elements in flex containers*/
}
.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

.leftside-col{
    margin-left: 30%;
}
.rightside-col{
    margin-right: 30%;
    padding-top: 50px;
}

* {
    box-sizing: border-box;
}

/*####### NAV BAR ########*/
nav{
    width: 100%;
    margin: 0; 
    /* margin:0 means there wont be any extra space outside the element */
    
}
nav ul {
    background-color: #eee;
    overflow: hidden;
    /*the feature of scrolling over the screen to fully view an image is changed*/
    margin: 0;
    padding: 0;
}
ul.topnav li{
    list-style: none; 
    /*this removes the bullets*/
    float: left;
}
ul.topnav li.topnav-right{
    list-style: none; 
    /*this removes the bullets*/
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    /*it's the minimum value it can go if the browser shrinks*/
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color:#666;
}
ul.topnav li a:hover{
    background-color:cadetblue;
    color: #fff;
}
ul.topnav li.dropdownicon{
    display: none;
}


/*###### CUSTOM STYLES #######*/


#section-1-gradient{
    background: #076DFF;
    background: linear-gradient(to bottom right, #076dff, white);
}
div.box{
    background-color: #fff;
    box-shadow: 0 0 0 3px rgba(0,0,0,.15), 10px 12px 7px 0 rgba(0,0,0,.14);
    border-radius: 7px;
    text-align: center;
    margin: 20px;
    padding: 20px 20px 30px 20px;
}
div.icon img{
    width: 100%;
}
h1.large{
    color:#fff;
    font-size: 56px;
}
h2.med{
    color: darkslategray;
    font-size: 30px;
    margin-left: 5px;
}
header h1.sec2header{
    font-size: 45px;
    text-align: center;
}
input[type="text"]{
    font-size: 15px;
    width: 350px;
    min-width: 100px;
    padding: 5px;
    border-radius: 10px;
}
form h3{
    color: #fff;
}
.learn{
    background-color:darkgreen;
    color: #fff;
    border-radius: 7px;
    height: 35px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: auto;
}

div.icon2 img{
    width:100%;
    display: block;
    margin: auto;
}

footer.footsy{
    background-color: cadetblue;
    padding-left: 10%;
}

footer.footsy h1{
    color: white;
}

footer.footsy ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li{
    font-size: 18px;
    color: white;
    line-height: 1.5;
}

/*##### MOBILE #######*/


@media screen and (max-width:680px){
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    ul.topnav li.dropdownicon{
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownicon {
        position:absolute;
        top:0;
        right:0;
    }
    ul.topnav.responsive{
        position: relative;
    }
    ul.topnav.responsive li{
        display: inline;
        /*placing elements like lined up*/
        float: none;
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    .col-6,.col-4,.col-7,.col-5{
        width: 100%;
        margin: auto;
    }
    .leftside-col{
        margin: 5%;
    }
    .rightside-col{
        margin: 5%;
        padding: 0px;
    }
    .video iframe{
        position: relative;
        overflow: hidden;
    }
    .box{
        display: block;
        padding: 5px;
    }
    div.mobile{
        width: 50%;
        display: block;
    }
}




